@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .icon{
        @apply h-8 w-8 cursor-pointer rounded-sm p-1 hover:bg-gray-100 transition-colors duration-200 
      } 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

